<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.afei.shardingsphere.multitenancy.mapper.OrderMapper">

    <insert id="save" parameterType="com.afei.shardingsphere.multitenancy.model.Order">
        insert into tb_order (user_id, order_no, order_time, merchant)
        values (#{userId}, #{orderNo}, #{orderTime}, #{merchant})
    </insert>

</mapper>